<div class="col pe-2 mb-2">
    <div class="card-product">
        {% for image in product.images|slice(0,1) %}
            <a href="{{ path('app_front_product_show', {'id': product.id}) }}">
                <img class="w-100" height="300px" src="/upload/product/img/{{ image.url }}">
            </a>
        {% endfor %}
        <div class="p-1">
            <div>
                {% if product.player %}
                    <b>{{ product.player.lastName }}, {{ product.team.title }}</b>
                {% else %}
                    <b>{{ product.title }}</b>
                {% endif %}
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p>{{ product.size }}, {{ product.brand.title }}</p>
                <b>{{ product.price }}€</b>
            </div>
        </div>
    </div>
</div>