{{ form_start(form, {'attr' : {'enctype': 'multipart/form-data','class': 'w-full'} }) }}
<div class="grid gap-y-4 md:gap-y-6">
    <div class="grid gap-y-4 md:flex md:gap-x-4">
        <div class="flex flex-col md:w-1/2">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'bg-white rounded w-full'}}) }}
        </div>
        <div class="flex flex-col md:w-1/2">
            {{ form_label(form.confirmPassword) }}
            {{ form_widget(form.confirmPassword, {'attr': {'class': 'bg-white rounded w-full'}}) }}
        </div>
    </div>
</div>
<div class="flex justify-end mt-4">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Enregistrer',
        class: 'primary'
    }) }}
</div>
{{ form_end(form) }}