{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <div class="container mx-auto grid text-center gap-y-6 text-xl mb-4 p-4">
        <div class="bg-fullwhite rounded grid justify-center p-4">
            <div class="flex justify-center">
                <div class="rounded-full bg-primary w-[50px] h-[50px]"></div>
            </div>
            {{ component('Global:User:LinkUser', { pseudo: app.user.pseudo }) }}
            <p>{{ app.user.name }} {{ app.user.firstName }}</p>
        </div>
        <p><a class="hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8" href="{{ path('app_front_user_show', {'pseudo': app.user.pseudo}) }}">Mon profil</a></p>
        <p><a class="hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8" href="{{ path('app_front_user_account_profile') }}">Mes paramètres</a></p>
        <p><a class="hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8" href="{{ path('app_front_favorite') }}">Mes favoris</a></p>
        {% if is_granted('ROLE_ADMIN') %}
            <p><a class="hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8" href="{{ path('app_admin_dashboard') }}">Administration</a></p>
        {% endif %}
        <p class="mt-8"><a class="hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8" href="{{ path('app_logout') }}">Déconnexion</a></p>
    </div>
{% endblock %}

