{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {% set items = [
        [app.user.pseudo, 'app_front_user_show', {pseudo: app.user.pseudo}],
        ['Signalements', 'app_front_user_account_alert']
    ] %}
    {{ component('Front:Breadcrumb:Breadcrumb', { items: items }) }}

    <div class="container mx-auto px-2 py-6 pb-20 flex gap-x-6 lg:w-3/4">
        {{ component('Front:Nav:NavAccount',{}) }}
        <div class="bg-fullwhite w-full p-4 md:w-3/4 md:p-8">
            <p class="text-xl text-primary font-bold mb-4">Signalements</p>
            <div id="recipients" class="grid gap-y-4">
                {% for alert in app.user.alertsDepositor|sort((a, b) => b.updatedAt <=> a.updatedAt) %}
                    <div>
                        <p>Signalement du {{ alert.createdAt|date('d/m/Y') }}</p>
                        {% if alert.type == "Annonce" %}
                            <p>Vous avez signaler l'annonce suivante : {{ alert.product.title }}</p>
                        {% elseif alert.type == "Utilisateur" %}
                            <p>Vous avez signaler l'utilisateur suivant : {{ alert.user.pseudo }}</p>
                        {% endif %}
                        <p>Statut : {{ alert.statut }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

