{% if tag == "a" %}
    <a class="{{ class }} {% if size is defined %}{{ size }}{% else %}text-sm{% endif %}" href="{% if route is defined %}{{ path(route) }}{% endif %}">{{ text }}</a>
{% elseif tag == "input" %}
    <input name="submit" id='submit' type='submit' value="{{ text }}" class="{{ class }} {% if size is defined %}{{ size }}{% else %}text-sm{% endif %}">
{% endif %}


