<div class="relative group-form bg-fullwhite p-8 mb-4 {% if class is defined %}{{ class }}{% endif %} id="{{ id }}">
    <div class="absolute top-[-168px] invisible" id="ancre-{{ id }}">dzd</div>
    <p class="text-xl font-bold mb-4 text-primary bg-secondary px-4 w-fit">{{ title }}</p>
    <div class="px-4">
        {% if custom is not defined %}
            {% for input in inputs %}
                {{ component(input.component, {
                    form: input.form,
                    input_name: input.input_name,
                    attributs: input.attributs is defined ? input.attributs : [],
                    type: input.type is defined ? input.type : 'input',
                    label: input.label is defined ? input.label : '',
                    description: input.description is defined ? input.description : '',
                    required: input.required is defined ? input.required : 0,
                    group_class: input.group_class is defined ? input.group_class : '',
                    placeholder: input.placeholder is defined ? input.placeholder : '',
                    id_player: input.id_player is defined ? input.id_player : ''
                }) }}
            {% endfor %}
        {% elseif custom == "image" %}
            {#
                <label class="full">Images</label>
                <input class="p-2 full" type="file" multiple="multiple" name="images[]" id="images[]" required>
            #}
            <div class="flex items-center justify-center w-full">
                <label for="images[]" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Cliquez pour télécharger</span></p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG ou JPG</p>
                    </div>
                    <input multiple="multiple" name="images[]" id="images[]" type="file" class="" />
                </label>
            </div>
        {% endif %}
    </div>
</div>