{% if attributs is defined %}
    {% set setclass = false %}
    {% set attrs = {} %}
    {% for attribut in attributs %}
        {% set value = attribut.value %}
        {% if attribut.name == "class" %}
            {% set value = "border p-2 w-full "~value %}
            {% set setclass = true %}
        {% endif %}
        {% set attrs = attrs|merge({
            (attribut.name):value
        }) %}
    {% endfor %}
    {% if setclass == false %}
        {% set attrs = attrs|merge({
            ('class'):'border p-2 w-full'
        }) %}
    {% endif %}
{% endif %}
<div class="mb-3">
    {# Classic input #}
    {% if type == "input" %}
        <div class="mb-3">
            {{ form_label(form[input_name], null ,{'label_attr': {'class': 'w-full'}}) }}
            {{ form_widget(form[input_name],{ 'attr': attrs }) }}
        </div>
    {% endif %}

    {# Toogle input #}
    {% if type == "toogle" %}
        <label class="relative items-center cursor-pointer">
            {{ form_label(form[input_name], null ,{'label_attr': {'class': 'w-full'}}) }}
            {{form_widget(form[input_name],{'attr': {'class':'sr-only peer'}})}}
            <div class="w-11 h-6 bg-gray-200 bg-gray peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[23px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary"></div>
        </label>
    {% endif %}

    {# Team input #}
    {% if type == "team" %}
        <div class="mb-3">
            <label class="w-full">Equipes</label>
            <ul class="select-team border min-h-[55px] flex p-2 w-100" onclick="displayListTeam()">
                {% if id_player is defined and id_player != "" %}
                    {% for value in this.player.teams %}
                        {% for team in this.teams %}
                            {% if value == team.id %}
                                <li class="li-select-team bg-secondary rounded p-2 me-2" value="{{ team.id }}" onclick="deleteTeam('{{ team.id }}')">{{ team.title }}</li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
            <ul id="listTeam" class="border border-t-0 hidden">
                {% for team in this.teams %}
                    {% set active = false %}
                    {% if id_player is defined and id_player != "" %}
                        {% for value in this.player.teams %}
                            {% if value == team.id and active == false %}
                                {% set active = true %}
                            {% endif %}
                        {% endfor %}
                        {% if active == true %}
                            <input type="checkbox" checked class="hidden team-checkbox" id="teams" name="teams[]" value="{{ team.id }}"/>
                            <li onclick="addTeam('{{ team.title }}','{{ team.id }}')" value="{{ team.id }}" class="list-team-li bg-secondary p-2 w-full hover:bg-gray">{{ team.title }}</li>
                        {% else %}
                            <input type="checkbox" class="hidden team-checkbox" id="teams" name="teams[]" value="{{ team.id }}"/>
                            <li onclick="addTeam('{{ team.title }}','{{ team.id }}')" value="{{ team.id }}" class="list-team-li p-2 w-full hover:bg-gray">{{ team.title }}</li>
                        {% endif %}
                    {% else %}
                        <input type="checkbox" class="hidden team-checkbox" id="teams" name="teams[]" value="{{ team.id }}"/>
                        <li onclick="addTeam('{{ team.title }}','{{ team.id }}')" value="{{ team.id }}" class="list-team-li p-2 w-full hover:bg-gray">{{ team.title }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {# Input Select custom #}
    {% if type == "customSelect" %}
        <div class="mb-3 relative">
            <label class="w-full">{{ label }}</label>
            <input id="search-input-{{ input_name }}" class="w-full" type="text" placeholder="{{ placeholder }}" onclick="displayListSelect('search-list-{{ input_name }}')" onkeyup="changeListFilter('{{ input_name }}')" required>
            <div id="search-list-{{ input_name }}" class="hidden absolute left-0 right-0 bg-white grid z-50 overflow-y-scroll max-h-[300px]">
                {% if input_name == "sport" %}
                    {% set get = this.sports %}
                {% elseif input_name == "league" %}
                    {% set get = this.leagues %}
                {% elseif input_name == "team" %}
                    {% set get = this.teams %}
                {% endif %}
                {% for item in get %}
                    <div onclick="fillInput('{{ item.title }}','{{ input_name }}')" class="search-{{ input_name }} w-full h-fit px-4 py-2 hover:bg-secondary">
                        {% if input_name == "team" %}
                            <p>{{ item.city }} {{ item.title }}</p>
                        {% else %}
                            <p>{{ item.title }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div id="search-noresult-{{ input_name }}" class="px-4 py-2 hidden hover:bg-secondary" onclick="fillInput('input','{{ input_name }}')">
                    <p>Aucun résultat disponible</p>
                    <p>Utiliser <span id="search-noresult-new-{{ input_name }}"></span> comme {{ input_name}} ?</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<script>
    function displayListSelect(idList){
        list = document.querySelector('#'+idList);
        if(list.classList.contains('hidden')){
            list.classList.remove('hidden');
        }
        else {
            list.classList.add('hidden');
        }
    }
    function changeListFilter(variable){
        inputId = '#search-input-'+variable;
        classe = '.search-'+variable;
        listResultId = '#search-list-'+variable;
        noResultId = "#search-noresult-"+variable;
        checkboxs = document.querySelectorAll(classe);
        inputValue = document.querySelector(inputId).value;
        listResult = document.querySelector(listResultId);
        noResult = document.querySelector(noResultId);
        if(listResult.classList.contains('hidden')){
            listResult.classList.remove('hidden');
        }
        noResultValue = true;
        for(i=0;i<checkboxs.length;i++){
            if(!(checkboxs[i].classList.contains('hidden') && checkboxs[i].classList.contains('checked'))){
                if(checkboxs[i].classList.contains('hidden')){
                    checkboxs[i].classList.remove('hidden');
                }
                if (!checkboxs[i].querySelector('p').textContent.toUpperCase().includes(inputValue.toUpperCase())) {
                    checkboxs[i].classList.add('hidden')
                }
            }
        }
        for(i=0;i<checkboxs.length;i++){
            if(!checkboxs[i].classList.contains('hidden')){
                noResultValue = false;
            }
        }
        if (noResultValue == true){
            idNewInput = "#search-noresult-new-"+variable;
            document.querySelector(idNewInput).textContent = '"'+inputValue+'"';
            noResult.classList.remove('hidden');
        }
        if (noResultValue == false && !(noResult.classList.contains('hidden'))){
            noResult.classList.add('hidden');
        }
        if(inputValue == ""){
            noResult.classList.add('hidden');
        }
    }
    function fillInput (text, variable){
        inputId = '#search-input-'+variable;
        listResultId = '#search-list-'+variable;
        if (text != "input"){
            document.querySelector(inputId).value = text;
        }
        document.querySelector(listResultId).classList.add('hidden');
    }
</script>