
    {% if title is defined %}
        <div class="flex justify-between">
            <h3 class="text-lg font-bold mb-2 lg:text-3xl">{{ title|raw }}</h3>
            <a class="text-primary">Voir tout</a>
        </div>
    {% endif %}

    {% if listing == "bestProducts" %}
        {% set productList = this.bestProducts %}
    {% elseif listing == "lastProducts" %}
        {% set productList = this.lastProducts %}
    {% elseif listing == "userProducts" %}
        {% set productList = this.userProducts %}
    {% elseif listing == "favoriteProducts" %}
        {% set productList = this.favoriteProducts %}
    {% elseif listing == "sportProducts" %}
        {% set productList = this.sportProducts %}
    {% elseif listing == "searchProducts" %}
        {% set productList = this.searchProducts %}
    {% endif %}

    {% if listing == "sportProducts" or listing == "searchProducts" %}
        <p class="text-graydark text-base mb-2"> {{ productList|length }} résultats</p>
    {% endif %}

    <div class="{% if scroll is defined %}flex overflow-x-scroll scroll-hidden md:grid md:grid-cols-2 {% else %}grid grid-cols-2 {% endif %}gap-x-4 lg:grid-cols-{{ (cols) }}">
        {% for product in productList %}
            {% if scroll is defined %}
                {{ component('Front:Product:ProductComponent', { id: product.id, scroll: true }) }}
            {% else %}
                {{ component('Front:Product:ProductComponent', { id: product.id }) }}
            {% endif %}
        {% endfor %}
    </div>