{% extends '/admin/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {{ component('Admin:TitlePage', { title: 'Tableau de bord' }) }}
    <div class="table-back mb-4">
        <div class="header-blue d-flex align-items-center">
            <h2 class="fs-22">Produits</h2>
        </div>
        <div class="container d-flex flex-wrap w-100 py-3 px-5 m-0">
            <a href="{{ path('app_admin_product') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-coins me-3"></i>Annonces
                </p>
            </a>
            <a href="{{ path('app_admin_sport') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-basketball me-3"></i>Sports
                </p>
            </a>
            <a href="{{ path('app_admin_league') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-trophy me-3"></i>Ligues
                </p>
            </a>
            <a href="{{ path('app_admin_team') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-sharp fa-regular fa-people-group me-3"></i>Équipes
                </p>
            </a>
            <a href="{{ path('app_admin_player') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-person-running me-3"></i>Joueurs
                </p>
            </a>
            <a href="{{ path('app_admin_brand') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-tag me-3"></i>Marques
                </p>
            </a>
            <a href="{{ path('app_admin_color') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-droplet me-3"></i>Couleurs
                </p>
            </a>
        </div>
    </div>
    <div class="table-back mb-4">
        <div class="header-blue d-flex align-items-center">
            <h2 class="fs-22">Administration</h2>
        </div>
        <div class="container d-flex flex-wrap w-100 py-3 px-5 m-0">
            <a href="{{ path('app_admin_user') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-user me-3"></i>Utilisateurs
                </p>
            </a>
            <a href="{{ path('app_admin_department') }}" class="w-25">
                <p class="element-menu bd-radius-15 fs-16 p-3 my-3">
                    <i class="fa-regular fa-user me-3"></i>Départements
                </p>
            </a>
        </div>
    </div>
{% endblock %}