<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Se connecter{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <script src="https://kit.fontawesome.com/9d027f2cc5.js" crossorigin="anonymous"></script>
    {% endblock %}
        <script type="text/javascript" charset="utf-8">
            function voirMDP() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
</head>
<body class="h-full">
{% block body %}
    <div class="grid grid-cols-12 h-full">
        <div class="col-span-6 bg-secondary h-full hidden md:block">

        </div>
        <div class="col-span-12 flex flex-col gap-y-8 justify-center items-center h-full md:col-span-6">
            <div class="text-center">
                <h1 class="text-3xl font-bold">Se connecter</h1>
                <p class="text-lg">Nous sommes heureux de vous revoir !😄</p>
            </div>

            <form class="grid gap-y-4 w-2/3 mx-auto" action="{{ path('app_login') }}" method="post">
                <input type="text" class="rounded bg-secondarylight border-0 text-black w-full p-3" id="username" name="_username"
                       value="{{ last_username }}" aria-describedby="emailHelp" placeholder="Email" required>
                <input type="password" class="rounded bg-secondarylight border-0 text-black w-full p-3" id="password" name="_password" placeholder="Mot de passe" required>
                <div class="flex justify-center">
                    {{ component('Global:Button',{ tag: 'input',text: 'Se connecter',class: 'secondary'}) }}
                </div>
            </form>

            <div class="text-center">
                <p class="text-lg mb-4">Pas encore de compte ?</p>
                {{ component('Global:Button', { tag: 'a', text: 'Créer un compte', route: 'app_register', class: 'primary' }) }}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>