<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="caracteristiques-tab" onclick="displayPageFrom('caracteristiques')">Général</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="a-propos-tab" onclick="displayPageFrom('a-propos')">A propos</a>
    </li>
</ul>
{{ form_start(form) }}
<div class="content-form" id="caracteristiques">
    <div class="mb-3">
        {{ form_row(form.title,{ 'attr': {
            'class' : 'p-2 w-100'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.city,{ 'attr': {
            'class' : 'p-2 w-100'}}) }}
    </div>
</div>
<div class="content-form d-none" id="a-propos">
    <div class="mb-3">
        {{ form_row(form.sport,{ 'attr': {
            'class' : 'p-2 w-100', "onchange":"actualisationSelect('#team_form_sport','team_form_league', 'league')"}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.league,{ 'attr': {
            'class' : 'p-2 w-100', 'disabled':'disabled'}}) }}
    </div>
</div>
<div class="d-flex justify-content-end">
    <input name="submit" id='submit' type='submit' value="Enregistrer" class="btn-blue-plein">
    <input name="submit" id='submit' type='submit' value="Enregistrer & rester" class="btn-blue-plein">
</div>
{{ form_end(form) }}

