{% set currentPage = app.request.pathinfo|split('/') %}
<nav class="py-8 sticky top-0 w-full bg-fullwhite border-b border-primary px-12 flex gap-x-8 z-50">
    <div class="w-1/12">
        <a href="{{ path('app_front_home') }}"><img width="150px" src="/img/logo.png"></a>
    </div>
    <div class="flex w-8/12">
        <div class="w-full">
            <input class="w-full border p-2 bd-radius-25" placeholder="Je recherche une annonce...">
            <ul class="flex mt-4">
                {% for sport in sports %}
                    <li class="me-4">
                        <a href="{{ path('app_front_sport_show', {'slug': sport.id|trans~'-'~sport.title}) }}">{{ sport.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="flex justify-end gap-x-2 w-3/12">
        {% if app.user is null %}
            {{ component('Global:Button', { tag: 'a', text: 'Se connecter', route: 'app_login', class: 'secondary' }) }}
            {{ component('Global:Button', { tag: 'a', text: 'Se créer un compte', route: 'app_register', class: 'primary' }) }}
        {% else %}
            <a href="{{ path('app_front_favorite') }}">
                <i class="fa-light fa-heart text-2xl bg-secondary border border-primary p-4 h-fit rounded-full"></i>
            </a>
            <i class="fa-light fa-messages text-2xl bg-secondary border border-primary p-4 h-fit rounded-full"></i>
            <a href="{{ path('app_front_product_new') }}">
                <i class="fa-light fa-plus text-2xl bg-secondary border border-primary p-4 h-fit rounded-full"></i>
            </a>
            <i class="fa-light fa-user text-2xl bg-secondary border border-primary p-4 h-fit rounded-full"></i>
        {% endif %}
    </div>
</nav>


