{% set currentPage = app.request.pathinfo|split('/') %}
<nav class="py-8 sticky top-0 w-full bg-fullwhite border-b border-gray px-12 flex gap-x-8 z-50">
    <div class="w-1/12">
        <a href="{{ path('app_front_home') }}"><img width="100px" src="/img/logo.png"></a>
    </div>
    <div class="flex w-8/12">
        <div class="w-full flex items-center">
            {{ component('Front:Nav:Nav') }}
        </div>
    </div>
    <div class="w-3/12 flex justify-end items-center gap-x-4">
        {% if app.user is null %}
            {{ component('Global:Button', { tag: 'a', text: 'Se connecter', route: 'app_login', class: 'secondary' }) }}
            {{ component('Global:Button', { tag: 'a', text: 'Se créer un compte', route: 'app_register', class: 'primary' }) }}
        {% else %}
            {{ component('Global:Button', { tag: 'a', text: 'Vendre un maillot', route: 'app_front_product_new', class: 'primary' }) }}
            <a href="{{ path('app_front_favorite') }}">
                <i class="fa-light fa-heart text-xl"></i>
            </a>
            <a href="{{ path('app_front_conversation') }}">
                <i class="fa-light fa-messages text-xl"></i>
            </a>
            <i class="fa-light fa-user text-xl"></i>
        {% endif %}
    </div>
</nav>

