{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {# Fil d'ariane #}
    <div class="container mx-auto px-10 my-4">
        <p>
            <a class="text-primary underline" href="{{ path('app_front_home') }}">Accueil</a>
            {% if product.sport %}
                >
                <a class="text-primary underline" href="{{ path('app_front_sport_show', {'slug': product.sport.id|trans~'-'~product.sport.title }) }}">{{ product.sport.title }}</a>
            {% endif %}
            {% if product.league %}
                >
                <a class="text-primary underline" href="{{ path('app_front_sport_show', {'slug': product.sport.id|trans~'-'~product.sport.title }) }}?league[]={{ product.league.id }}">{{ product.league.title }}</a>
            {% endif %}
            {% if product.team %}
                >
                <a class="text-primary underline" href="{{ path('app_front_sport_show', {'slug': product.sport.id|trans~'-'~product.sport.title }) }}?league[]={{ product.league.id }}&team[]={{ product.team.id }}">{{ product.team.title }}</a>
            {% endif %}
            {% if product.player %}
                >
                <a class="text-primary underline" href="{{ path('app_front_sport_show', {'slug': product.sport.id|trans~'-'~product.sport.title }) }}?league[]={{ product.league.id }}&team[]={{ product.team.id }}&player[]={{ product.player.id }}">{{ product.player.firstName }} {{ product.player.lastName }}</a>
            {% endif %}
        </p>
    </div>


    <div class="container grid grid-cols-12 gap-x-4 mx-auto px-40 my-10">
        <div class="col-span-6 flex px-1">
            <div class="w-1/4 pe-2">
                {% if product.images|length < 4 %}
                    {% for image in product.images|slice(1) %}
                        <div class="">
                            <img onclick="toggleSlider()" class="w-full object-fit-cover rounded cursor-pointer" height="135" style="margin-bottom: 15px" src="/upload/product/img/{{ image.url }}">
                        </div>
                    {% endfor %}
                {% else %}
                    {% for image in product.images|slice(1,3) %}
                        {% if loop.index == 3 and product.images|length > 4 %}
                            <div onclick="toggleSlider()" class="relative cursor-pointer">
                                <p class="absolute text-xl font-bold rounded text-fullwhite bg-black bg-opacity-50 w-full h-full flex justify-center items-center">+{{ product.images|length-4 }}</p>
                                <img class="w-100 object-fit-cover rounded" height="135" src="/upload/product/img/{{ image.url }}">
                            </div>
                        {% else %}
                            <div class="">
                                <img onclick="toggleSlider()" class="w-full object-fit-cover rounded cursor-pointer" height="135" style="margin-bottom: 15px" src="/upload/product/img/{{ image.url }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="w-3/4">
                {% for image in product.images|slice(0,1) %}
                    <img onclick="toggleSlider()" class="w-full object-cover rounded cursor-pointer" height="600" src="/upload/product/img/{{ image.url }}">
                {% endfor %}
            </div>
        </div>
        <div class="col-span-6 flex flex-col gap-y-2">
            <div class="bg-fullwhite flex justify-between p-4">
                <div class="flex gap-x-4 items-center">
                    <div class="rounded-full bg-primary w-[50px] h-[50px]"></div>
                    <div>
                        <div class="flex gap-x-2">
                            {{ component('Global:User:LinkUser', { pseudo: product.user.pseudo }) }}
                            {{ component('Global:User:GraduateUser', { id: product.user.id }) }}
                        </div>
                        {{ component('Global:User:LocationUser', { location: product.user.location.title }) }}
                        {{ component('Global:User:LastConnexionUser', { last_connexion: product.user.lastConnexion }) }}
                    </div>
                </div>
                {% if app.user %}
                    <div>
                        {{ component('Front:Action:Alert',{ uuid: product.uuid }) }}
                    </div>
                {% endif %}
            </div>
            <div class="bg-fullwhite flex flex-col gap-y-4 p-4">
                <div>
                    <div class="flex justify-between">
                        <p class="text-3xl">{{ product.title }}</p>
                        <p class="text-4xl text-end">{{ product.price }}€</p>
                    </div>
                    <p class="text-primary">
                        {% if product.player %}
                            {{ product.player.firstName }} {{ product.player.lastName }},
                        {% endif %}
                        {{ product.team.title }},
                        {{ product.league.title }}
                    </p>
                </div>

                <div>
                    <p class="text-base">Description</p>
                    <p>{{ product.description }}</p>
                </div>

                <div>
                    <p class="text-base">Détails</p>
                    <p>{{ product.brand.title }}</p>
                    <p>Taille {{ product.size }}</p>
                    <p>{{ product.conditionnement }}</p>
                    <p>{{ product.type }}</p>
                </div>

                {% set display_btn = false %}
                {% if app.user %}
                    {% if app.user.id != product.user.id %}
                        {% set display_btn = true %}
                    {% endif %}
                {% else %}
                    {% set display_btn = true %}
                {% endif %}

                {% if display_btn == true and app.user %}
                    <div class="flex flex-col justify-center gap-y-4 w-1/2 mx-auto">
                        {{ component('Front:Action:Book',{ uuid: product.uuid, class: 'secondary', custom_class: 'w-full' }) }}
                        {{ component('Front:Action:Contact',{ uuid: product.uuid, class: 'primary', custom_class: 'w-full' }) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



    <div id="slider-picture-product" class="fixed top-0 w-full h-full z-50 bg-black/50 hidden">
        <div id="slider-details" class="w-1/2 relative mx-auto mt-[100px] bg-gray" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-[700px] overflow-hidden rounded-lg">
                {% for image in product.images %}
                    <div class="hidden duration-700 ease-in-out py-4 bg-gray" data-carousel-item>
                        <img src="/upload/product/img/{{ image.url }}" class="h-full mx-auto" alt="...">
                    </div>
                {% endfor %}
            </div>
            <!-- Slider indicators
            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            </div>
            -->
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
            </button>
            <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
            </button>
        </div>
    </div>


    <div class="container px-20 mx-auto py-2 mb-20">
        {% set title = product.user.products|length~' autres annonces de <i class="text-primary">@'~product.user.pseudo~'</i>' %}
        {{ component('Front:Product:ProductListing', { title: title, listing : 'userProducts', user_id : product.user.id, cols: 5 }) }}
    </div>

    <script>
        let toggleSliderExecuted = false;

        function toggleSlider() {
            const slider = document.querySelector('#slider-picture-product');
            slider.classList.toggle('hidden');
            toggleSliderExecuted = true;
        }
        document.addEventListener('click', function(event) {
            if (!toggleSliderExecuted) {
                const slider = document.querySelector('#slider-picture-product');
                const sliderDetails = document.querySelector('#slider-details');
                if(!(slider.classList.contains('hidden'))){
                    const outsideClick = !sliderDetails.contains(event.target);
                    if (outsideClick === true){
                        slider.classList.add('hidden');
                    }
                }
            } else {
                toggleSliderExecuted = false;
            }
        })
    </script>
{% endblock %}

