{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container grid grid-cols-12 mx-auto px-40 py-2 mb-20">
        <div class="col-span-6 flex px-1">
            <div class="w-1/4 pe-2">
                {% for image in product.images|slice(1) %}
                    <div class="">
                        <img class="w-100 object-fit-cover" height="135" style="margin-bottom: 15px" src="/upload/product/img/{{ image.url }}">
                    </div>
                {% endfor %}
            </div>
            <div class="w-3/4">
                {% for image in product.images|slice(0,1) %}
                    <img class="w-full object-cover" height="600" src="/upload/product/img/{{ image.url }}">
                {% endfor %}
            </div>

        </div>
        <div class="col-span-6">
            <div class="bg-fullwhite p-2 mb-1 flex items-center">
                <img width="40" height="40" class="object-cover rounded me-1" src="https://plus.unsplash.com/premium_photo-1683121366070-5ceb7e007a97?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D">
                <div>
                    <p><i class="text-primary">@{{ product.user.pseudo }}</i> - 421⭐</p>
                    <p><i class="fa-light fa-location-dot"></i> {{ product.user.location.title }}</p>
                    {# <p><i class="fa-light fa-clock"></i></i> Conneté il y a 27 minutes</p> #}
                </div>
            </div>
            <div class="bg-fullwhite p-2 mb-1">
                <p><b class="text-2xl">{{ product.title }}</b></p>
                <p>
                    <i class="text-primary">
                        {% if product.player %}
                            {{ product.player.firstName }} {{ product.player.lastName }},
                        {% endif %}
                        {{ product.team.title }},
                        {{ product.league.title }}
                    </i>
                </p>
                <p></p>
                <p class="mb-1"><b class="text-4xl">{{ product.price }}€</b></p>
                <p>{{ product.description }}</p>
                <p class="mb-2"><i>{{ product.conditionnement }}</i></p>
                <p class="mb-1">Détails</p>
                <div class="flex justify-around">
                    <div class="bg-secondary text-primary rounded text-center w-full px-2 py-1 mx-2">
                        <i class="text-3xl fa-light fa-person"></i>
                        <p class="">{{ product.type }}</p>
                    </div>
                    <div class="bg-secondary text-primary rounded text-center w-full px-2 py-1 mx-2">
                        <i class="text-3xl fa-light fa-shirt"></i>
                        <p class="">{{ product.size }}</p>
                    </div>
                    <div class="bg-secondary text-primary rounded text-center w-full px-2 py-1 mx-2">
                        <i class="text-3xl fa-light fa-copyright"></i>
                        <p class="">{{ product.brand.title }}</p>
                    </div>
                </div>
            </div>
            <div class="bg-fullwhite p-2 mb-1 flex items-center">
                <a href="" class="btn-gold-plein bd-blue-1">Réserver</a>
                <a href="" class="btn-blue-vide bd-blue-1">Contacter le vendeur</a>
                <a href="" class="btn-blue-vide bd-blue-1">Ajouter aux favoris</a>
            </div>
        </div>
    </div>

    {% set title = product.user.products|length~' autres annonces de <i class="text-primary">@'~product.user.pseudo~'</i>' %}
    {{ component('Front:Product:ProductListing', { title: title, listing : 'userProducts', user_id : product.user.id }) }}

{% endblock %}

