<div class="container px-20 mx-auto py-2">
    <form class="flex gap-x-2" method="GET" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ component('Global:Button', { tag: 'a', text: 'Réinitialiser les filtres', route: 'app_front_sport_show', route_parameter: [ { name: 'slug', value: sport.id|trans~'-'~sport.title } ], class: 'secondary', size: 'text-base' }) }}
        <select class="rounded" disabled name="sport" onchange="this.form.submit()">
            <option value="{{ sport.id }}" selected disabled>{{ sport.title }}</option>
        </select>

        {{ component('Front:Filter:Select', { sport: sport, text: 'Ligue', variable: 'league', options_name: 'leagues', object: true, search: true }) }}
        {{ component('Front:Filter:Select', { sport: sport, text: 'Joueur', variable: 'player', options_name: 'players', object: true, search: true }) }}
        {{ component('Front:Filter:Select', { text: 'Numéro', variable: 'number', options_name: 'numbers'}) }}
        {{ component('Front:Filter:Select', { text: 'Marque', variable: 'brand', options_name: 'brands', object: true, search: true }) }}
        {{ component('Front:Filter:Select', { text: 'Genre', variable: 'type', options_name: 'types' }) }}
        {{ component('Front:Filter:Select', { text: 'Taille', variable: 'size', options_name: 'sizes' }) }}
        {{ component('Front:Filter:Select', { text: 'État', variable: 'conditionnement', options_name: 'conditionnements' }) }}
    </form>

    {% for filter in app.request.query.all() %}
        {{ filter[0] }}
    {% endfor %}
</div>

<script>
    function showFilter(id){
        select = document.getElementById(id).getElementsByClassName('select')[0];
        list = document.getElementById(id).getElementsByClassName('list')[0];
        alllists = document.getElementsByClassName('list')
        allselects = document.getElementsByClassName('select')
        for (i=0;i<alllists.length;i++){
            if(!alllists[i].classList.contains('hidden') && alllists[i] != list){
                alllists[i].classList.add('hidden');
            }
            if(!allselects[i].classList.contains('active') && allselects[i].classList.contains('bg-secondary') && allselects[i] != select){
                allselects[i].classList.remove('bg-secondary');
            }
        }

        if(list.classList.contains('hidden')){
            list.classList.remove('hidden');
            if(!select.classList.contains('active')){
                select.classList.add('bg-secondary');
            }

        }
        else {
            list.classList.add('hidden');
            if(!select.classList.contains('active')){
                select.classList.remove('bg-secondary');
            }
        }
    }
</script>