<div class="relative" id="filter-{{ variable }}">
    {% set filters = app.request.query.all(variable) %}
    <p class="select flex items-center border rounded py-2 px-4 {% if filters is not empty %}active bg-secondary{% endif %}" onclick="showFilter('filter-{{ variable }}')">{{ text }} <i class="ms-2 fa-solid fa-chevron-down"></i></p>
    <div class="list hidden w-[300px] max-h-[300px] overflow-y-scroll absolute z-40 bg-white drop-shadow-2xl top-12 p-4 grid gap-y-4">
        {# On regarde si on met la barre de recherche #}
        {% if search is defined %}
            <input id="search-input-{{ variable }}" placeholder="Je recherche..." type="text" onkeyup="changeListFilter('{{ variable }}')">
        {% endif %}
        {# On regarde si le filtre est une entitée ou bien un Enum #}
        {% if object is defined %}
            {% if filters is not empty %}
                <div class="grid gap-y-4 mb-6">
                        {% for filter in this.options %}
                            {% for value_filter in filters %}
                                {% if value_filter == filter.id %}
                                    <div class="flex justify-between {% if search is defined %}search-{{ variable }}{% endif %} {% for value_filter in filters %}{% if value_filter == filter.id %}checked{% endif %}{% endfor %}">
                                        {% if options_name == 'players' %}
                                            <label class="label" for="{{ filter.lastName }}">{{ filter.lastName }} {{ filter.firstName }}</label>
                                        {% elseif options_name == 'colors' %}
                                            <label class="label items-top flex" for="{{ filter.title }}"><p class="rounded-full border me-2 w-[20px] h-[20px]" style="background: {{ filter.value }}"></p>{{ filter.title }}</label>
                                        {% else %}
                                            <label class="label" for="{{ filter.title }}">{{ filter.title }}</label>
                                        {% endif %}
                                        <input onclick="this.form.submit()" type="checkbox" id="{{ filter.id }}" name="{{ variable }}[]" value="{{ filter.id }}"
                                                {% for value_filter in filters %}
                                                    {% if value_filter == filter.id %}
                                                        checked
                                                    {% endif %}
                                                {% endfor %}
                                        />
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                </div>
            {% endif %}
            <div class="grid gap-y-4">
                {% for filter in this.options %}
                    <div class="flex justify-between {% if search is defined %}search-{{ variable }}{% endif %} {% for value_filter in filters %}{% if value_filter == filter.id %}hidden checked{% endif %}{% endfor %}">
                        {% if options_name == 'players' %}
                            <label class="label" for="{{ filter.lastName }}">{{ filter.lastName }} {{ filter.firstName }}</label>
                        {% elseif options_name == 'colors' %}
                            <label class="label items-top flex" for="{{ filter.title }}"><p class="rounded-full border me-2 w-[20px] h-[20px]" style="background: {{ filter.value }}"></p>{{ filter.title }}</label>
                        {% elseif options_name == 'departments' %}
                            <label class="label" for="{{ filter.title }}">{{ filter.title }} ({{ filter.code }})</label>
                        {% else %}
                            <label class="label" for="{{ filter.title }}">{{ filter.title }}</label>
                        {% endif %}
                        <input onclick="this.form.submit()" type="checkbox" id="{{ filter.id }}" name="{{ variable }}[]" value="{{ filter.id }}"/>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% for filter in this.options %}
                <div class="flex justify-between">
                    <label for="{{ filter }}">{{ filter }}</label>
                    <input onclick="this.form.submit()" type="checkbox" id="{{ filter }}" name="{{ variable }}[]" value="{{ filter }}"
                            {% for value_filter in filters %}
                                {% if value_filter == filter %}
                                    checked
                                {% endif %}
                            {% endfor %}
                    />
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    function changeListFilter(variable){
        inputId = 'search-input-'+variable;
        classe = 'search-'+variable;
        checkboxs = document.getElementsByClassName(classe);
        inputValue = document.getElementById(inputId).value.toUpperCase();
        for(i=0;i<checkboxs.length;i++){
            if(!(checkboxs[i].classList.contains('hidden') && checkboxs[i].classList.contains('checked'))){
                if(checkboxs[i].classList.contains('hidden')){
                    checkboxs[i].classList.remove('hidden');
                }
                if (!checkboxs[i].getElementsByClassName('label')[0].textContent.toUpperCase().includes(inputValue)) {
                    if(!checkboxs[i].classList.contains('checked')){
                        checkboxs[i].classList.add('hidden');
                    }
                }
            }

        }
    }
</script>