<div class="hidden md:block md:w-1/4 md:bg-fullwhite md:h-fit md:py-4">
    <div class="flex flex-col gap-y-4 items-center py-4">
        {{ component('Global:User:PictureUser', { user: app.user, size: 'w-[75px] h-[75px]' }) }}
        <div class="text-center">
            <p>{{ app.user.name }} {{ app.user.firstName }}</p>
            <p>{{ component('Global:User:LinkUser', { pseudo: app.user.pseudo }) }}</p>
        </div>
    </div>
    {% set items = [
        ['Profil & notifications','app_front_user_account_profile'],
        ['Annonces','app_front_user_account_product'],
        ['Avis','app_front_user_account_assessment'],
        ['Signalements','app_front_user_account_alert'],
        ['Mot de passe','app_front_user_account_password'],
        ['Deconnexion','app_logout'],
    ] %}
    {% for item in items %}
        {{ component('Front:Nav:NavAccountItem',{
            item: item
        }) }}
    {% endfor %}
</div>