{{ component('Admin:Form:Nav', {
    nav_items: [
        {id:'general',text:'Général'},
        {id:'a-propos',text:'A propos'},
        {id:'caracteristiques',text:'Caractéristiques'},
        {id:'user',text:'Utilisateur'},
        {id:'images',text:'Images'},
    ],
}) }}
{{ form_start(form, {'attr' : {'enctype': 'multipart/form-data'} }) }}
{{ component('Admin:Form:Page', {
    id: 'general',
    inputs: [
        {component:'Admin:Form:Input',form:form,input_name:'title',attributs:[]},
        {component:'Admin:Form:Input',form:form,input_name:'description',attributs:[{name:'rows',value:'5'}]},
        {component:'Admin:Form:Input',form:form,input_name:'price',attributs:[]},
    ],
}) }}
{{ component('Admin:Form:Page', {
    id: 'a-propos',
    class: 'hidden',
    inputs: [
        {component:'Admin:Form:Input',form:form,input_name:'sport',attributs:[{name:'onchange',value:"actualisationSelect('#product_form_sport','product_form_league', 'league')"}]},
        {component:'Admin:Form:Input',form:form,input_name:'league',attributs:[{name:'onchange',value: "actualisationSelect('#product_form_league','product_form_team', 'team')"}]},
        {component:'Admin:Form:Input',form:form,input_name:'team',attributs:[{name:'onchange',value: "actualisationSelect('#product_form_team','product_form_player', 'player')"}]},
        {component:'Admin:Form:Input',form:form,input_name:'player',attributs:[]},
        {component:'Admin:Form:Input',form:form,input_name:'number'},
    ],
}) }}
{{ component('Admin:Form:Page', {
    id: 'caracteristiques',
    class: 'hidden',
    inputs: [
        {component:'Admin:Form:Input',form:form,input_name:'brand',attributs:[]},
        {component:'Admin:Form:Input',form:form,input_name:'type',attributs:[]},
        {component:'Admin:Form:Input',form:form,input_name:'size',attributs:[]},
        {component:'Admin:Form:Input',form:form,input_name:'conditionnement',attributs:[]},
        {component:'Admin:Form:Input',form:form,input_name:'statement',attributs:[]},
    ],
}) }}
{{ component('Admin:Form:Page', {
    id: 'user',
    class: 'hidden',
    inputs: [
        {component:'Admin:Form:Input',form:form,input_name:'user',attributs:[]},
    ],
}) }}
<div class="content-form hidden" id="images">
    <div class="flex gap-x-2">
        {% for image in product.images %}
            <img width="150px" height="150px" src="/upload/product/img/{{ image.url }}">
        {% endfor %}
    </div>
    <div class="mb-3">
        <label class="w-full">Images</label>
        <input class="p-2 w-full" type="file" multiple="multiple" name="images[]" id="images[]">
    </div>
</div>
{{ component('Admin:Form:Buttons', {
    buttons: [
        { tag: 'input', text: 'Enregistrer', class:'primary' },
        { tag: 'input', text: 'Enregistrer & rester', class:'primary' }
    ]
}) }}

{{ form_end(form) }}

