{% set currentPage = app.request.pathinfo|split('/') %}
<nav class="menu h-100 py-3 px-4">
    <a class="d-flex align-items-center px-3 mt-3 mb-5" href="{{ path('app_front_home') }}">
        <img width="70px" src="/img/logo_carre_jaune.png">
        <h1 class="title-header-back mx-3">Jey.</h1>
    </a>
    <ul class="list-unstyled px-3">
        <a href="{{ path('app_back_dashboard') }}">
            <li class="element-menu {% if currentPage[2] == "dashboard" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-regular fa-gauge me-3"></i>Dashboard
            </li>
        </a>
        <a href="{{ path('app_back_product') }}">
            <li class="element-menu {% if currentPage[2] == "product" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-regular fa-coins me-3"></i>Produits
            </li>
        </a>
        <a href="{{ path('app_back_sport') }}">
            <li class="element-menu {% if currentPage[2] == "sport" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-regular fa-basketball me-3"></i>Sports
            </li>
        </a>
        <a href="{{ path('app_back_league') }}">
            <li class="element-menu {% if currentPage[2] == "league" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-regular fa-trophy me-3"></i>Ligues
            </li>
        </a>
        <a href="{{ path('app_back_team') }}">
            <li class="element-menu {% if currentPage[2] == "team" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-sharp fa-regular fa-people-group me-3"></i>Équipes
            </li>
        </a>
        <a href="{{ path('app_back_player') }}">
            <li class="element-menu {% if currentPage[2] == "player" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-regular fa-person-running me-3"></i>Joueurs
            </li>
        </a>
        <a href="{{ path('app_back_brand') }}">
            <li class="element-menu {% if currentPage[2] == "brand" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-regular fa-tag me-3"></i>Marques
            </li>
        </a>
        <a href="{{ path('app_back_user') }}">
            <li class="element-menu {% if currentPage[2] == "user" %}active-menu{% endif %} bd-radius-15 fs-16 p-3 my-3">
                <i class="fa-regular fa-user me-3"></i>Utilisateurs
            </li>
        </a>
    </ul>
</nav>