<div class="flex gap-x-4 p-4">
    <div class="rounded-full bg-primary min-w-[50px] h-[50px]"></div>
    <div>
        {% if type == "recipient" %}
            <p class="text-primary">{{ component('Global:LinkUser', { pseudo: this.assessment.depositor.pseudo }) }}</p>
        {% else %}
            <p class="text-primary">{{ component('Global:LinkUser', { pseudo: this.assessment.recipient.pseudo }) }}</p>
        {% endif %}
        <p>{{ this.assessment.value }}⭐</p>
        <p>{{ this.assessment.content }}</p>
        <p class="text-sm text-gray">{{ this.assessment.createdAt|custom_time }}</p>
    </div>
</div>