{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {% set items = [
        ['Messages', 'app_front_conversation']
    ] %}
    {{ component('Front:Breadcrumb:Breadcrumb', { items: items }) }}

    <div class="container mx-auto w-10/12 h-[680px] my-10">
        <div class="grid grid-cols-12 gap-x-4 h-full">
            <div class="col-span-3 bg-fullwhite rounded">
                <div class="p-4">
                    <p class="text-xl text-primary font-bold">Vos derniers messages</p>
                    <p>avec d’autres utilisateurs</p>
                </div>
                <div class="flex flex-col gap-y-2 h-[595px] overflow-y-scroll">
                    {% for conversation in conversations|sort((a, b) => b.updatedAt <=> a.updatedAt) %}
                        <a href="{{ path('app_front_conversation_show', {'uuid': conversation.uuid}) }}" class="w-full flex gap-x-2 {% if conversation_display.id == conversation.id %}bg-primarylight{% endif %} hover:bg-primarylight p-4">
                            <div>
                                <div class="rounded-full bg-primary w-[50px] h-[50px]"></div>
                            </div>
                            <div class="w-full">
                                <div class="flex justify-between">
                                    <p>
                                        {% for user in conversation.users %}
                                            {% if user.id != app.user.id %}
                                                {{ user.pseudo }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>{{ conversation.updatedAt|custom_time }}</p>
                                </div>
                                <p>{{ conversation.product.title }}</p>
                                {% for image in conversation.product.images|slice(0,1) %}
                                    <img class="rounded-lg object-cover w-[50px] h-[50px]" src="/upload/product/img/{{ image.url }}">
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-span-9 flex flex-col justify-between h-[706px] bg-fullwhite rounded">
                <div class="overflow-y-auto flex flex-col-reverse max-h-[83%]">
                    <div class="flex flex-col gap-y-2">
                        <div class="bg-secondary flex justify-between p-4">
                            <div class="flex gap-x-4 items-center">
                                <a href="{{ path('app_front_product_show', {'uuid': conversation_display.product.uuid}) }}">
                                    {% for image in conversation_display.product.images|slice(0,1) %}
                                        <img class="rounded-lg object-cover h-[120px]" src="/upload/product/img/{{ image.url }}">
                                    {% endfor %}
                                </a>
                                <a href="{{ path('app_front_product_show', {'uuid': conversation_display.product.uuid}) }}">
                                    <p class="font-bold hover:text-primary">{{ conversation_display.product.title }}</p>
                                    <p class="text-sm mb-2">{{ conversation_display.product.player.lastName }} {{ conversation_display.product.player.firstName }}</p>
                                    <p>{{ conversation_display.product.conditionnement }}</p>
                                    <p class="">{{ conversation_display.product.price }}€</p>
                                </a>
                            </div>
                            <div>
                                {% if conversation_display.product.statement == "Disponible" %}
                                    {{ component('Front:Action:Book',{ uuid: conversation_display.product.uuid, class: 'primary' }) }}
                                {% endif %}
                            </div>
                        </div>
                        <p class="text-center my-4 text-graydark w-1/2 mx-auto text-sm">Vous venez de démarrer une nouvelle conversation. Respectez les autres pour une conversation agréable. <br>Merci !☀️</p>
                        <div class="w-full mb-4">
                            {% for user in conversation_display.users %}
                                {% if user.id != app.user.id %}
                                    <div class="flex gap-x-4 w-fit max-w-[90%] bg-secondarylight px-4 py-2 mx-4 rounded">
                                        <div class="rounded-full bg-primary w-[50px] h-[50px]"></div>
                                        <div>
                                            <p>{{ component('Global:User:LinkUser', { pseudo: user.pseudo }) }}</p>
                                            {{ component('Global:User:GraduateUser', { id: user.id }) }}
                                            {{ component('Global:User:LocationUser', { location: user.location.title }) }}
                                            <p>Denière connexion : Il y a 3h</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% set date = "now"|date('d/m/y') %}
                        {% for message in alls_messages|sort((a, b) => a[1] <=> b[1]) %}
                            {% if message[0] == 'message' %}
                                {% set message = message[2] %}
                                {% if date != message.createdAt|date('d/m/y') %}
                                    <p class="w-full text-center">{{ message.createdAt|custom_time }}</p>
                                {% endif %}
                                {% set date = message.createdAt|date('d/m/y') %}
                                {% if message.author.id == app.user.id %}
                                    <div class="w-full flex justify-end mb-4">
                                        <div class="w-fit max-w-[90%] bg-primarylight px-4 py-2 mx-4 rounded">
                                            <p>{{ message.content }}</p>
                                            <p class="text-xs text-graydark">{{ message.createdAt|date('d/m/y - H:i') }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="w-full mb-4">
                                        <div class="w-fit max-w-[90%] bg-secondarylight px-4 py-2 mx-4 rounded">
                                            <p>{{ message.content }}</p>
                                            <p class="text-xs text-graydark">{{ message.createdAt|date('d/m/y - H:i') }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% set messageStep = message[2] %}
                                {% if messageStep.type == "Book" %}
                                    {{ component('Front:Conversation:MessageStep:Book',{ message_step_id: messageStep.id, product_id: conversation_display.product.id }) }}
                                {% elseif messageStep.type == "ConfirmBook" %}
                                    {{ component('Front:Conversation:MessageStep:ConfirmBook',{ message_step_id: messageStep.id, product_id: conversation_display.product.id, conversation_id: conversation_display.id, user_id: app.user.id }) }}
                                {% elseif messageStep.type == "CancelBook" %}
                                    {{ component('Front:Conversation:MessageStep:CancelBook',{ message_step_id: messageStep.id, product_id: conversation_display.product.id }) }}
                                {% elseif messageStep.type == "Sell" %}
                                    {{ component('Front:Conversation:MessageStep:Sell',{ message_step_id: messageStep.id, product_id: conversation_display.product.id }) }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="px-4">
                    {% include 'front/conversation/message/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('beforeunload', function (e) {
            var form = document.querySelector('#message_form');
            // Vérifier si le formulaire a été soumis
            if (!form || form.getAttribute('data-submit') === 'true') {
                return;
            }
            else {
                // Envoyer une requête AJAX au serveur
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/conversation/exit', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({data: 'optional_data'}));
            }
        });
    </script>
{% endblock %}