{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <div class="container mx-auto w-10/12 h-[600px] my-20">
        <div class="grid grid-cols-12 border h-full">
            <div class="col-span-3 border">
                <p>Derniers messages</p>
                <p>avec d’autres utilisateurs</p>
                <div class="grid">
                    {% for conversation in conversations %}
                        <div class="w-full flex gap-x-2 hover:bg-gray p-4">
                            <div>
                                <div class="rounded-full bg-primary w-[50px] h-[50px]">
                                </div>
                            </div>
                            <div class="w-full">
                                <div class="flex justify-between">
                                    <p>
                                        {% for user in conversation.users %}
                                            {% if user.id != app.user.id %}
                                                {{ user.pseudo }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>{{ conversation.updatedAt|custom_time }}</p>
                                </div>
                                <p>{{ conversation.product.title }}</p>
                                {% for image in conversation.product.images|slice(0,1) %}
                                    <img class="rounded-lg object-cover w-[50px] h-[50px]" src="/upload/product/img/{{ image.url }}">
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-span-9 border p-4">
                <div class="flex flex-col justify-end gap-y-4 h-full">
                    {% for message in conversation_display.messages|sort((a, b) => a.updatedAt <=> b.updatedAt) %}
                        {% if message.author.id == app.user.id %}
                            <div class="w-full flex justify-end">
                                <p class="w-fit max-w-[90%] bg-primarylight px-4 py-2 rounded">
                                    {{ message.content }}
                                </p>
                            </div>
                        {% else %}
                            <div class="w-full">
                                <p class="w-fit max-w-[90%] bg-secondarylight px-4 py-2 rounded">
                                    {{ message.content }}
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <input type="text" class="w-full">
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}